.root {
	-fx-background-color: #DDDDDD;
	
}

.statsPane {
	-fx-background-color: #ffffff;
	-fx-background-radius: 8px;
}

.cardPane {
	-fx-background-color: white;
	-fx-background-radius: 8px;
	
}

.topPane{
	-fx-background-color: #2196f3;
}

.bebasneue {
	-fx-font-family: "Bebas Neue";
}

.button {
	-fx-background-color: #e0e0e0;
	-fx-font-size: 18px;
	-fx-font-family: "Bebas Neue";
	-fx-text-fill: #212121;
	
}

.button:hover {
	-fx-background-color: #64b5f6;
	-fx-font-size: 18px;
	-fx-font-family: "Bebas Neue";
	-fx-text-fill: #212121;
}

.pressed {
	-fx-background-color: #2196f3;
	-fx-font-size: 18px;
	-fx-font-family: "Bebas Neue";
	-fx-text-fill: #212121;
}

.buttonPane {
	-fx-background-color: #ffffff;
	-fx-background-radius: 8px;
}


.tab{
	-fx-background-color: #E0E0E0;
	-fx-font-size: 14px;
	-fx-font-family: "Bebas Neue";
}

.tab:hover{
	-fx-background-color: #BDBDBD;
	-fx-font-size: 14px;
	-fx-font-family: "Bebas Neue";
}

.tab:selected{
    -fx-background:   yellow;
}

