.root {
	-fx-background-color: #DDDDDD;
	
}

.rootCorrect {
	-fx-background-color: #f1f8e9;
}

.rootWrong {
	-fx-background-color: #ffebee;
}


.score {
	-fx-background-color: #ffffff  ;
	-fx-background-radius: 8px;
}

.topPane{
	-fx-background-color: #2196f3 ;
}

.gamePane {
	-fx-background-color: #ffffff;
	-fx-background-radius: 8px;
}

.bebasneue {
	-fx-font-family: "Bebas Neue";
}

.buttonOutside {
	-fx-background-color: #E0E0E0;
	-fx-font-size: 20px;
	-fx-font-family: "Bebas Neue";
}

.buttonOutside:hover {
	-fx-background-color: #BDBDBD;
	-fx-font-size: 20px;
	-fx-font-family: "Bebas Neue";
}

.buttonNext {
	-fx-background-color: #2196F3;
	-fx-font-size: 18px;
	-fx-font-family: "Bebas Neue";
}

.buttonNext:hover {
	-fx-background-color: #1e88e5 ;
	-fx-font-size: 18px;
	-fx-font-family: "Bebas Neue";	
}

.buttonGame {
	-fx-background-color: #E0E0E0;
	-fx-font-size: 18px;
	-fx-font-family: "Bebas Neue";
	
}

.buttonGame:hover {
	-fx-background-color: #BDBDBD;
	-fx-font-size: 18px;
	-fx-font-family: "Bebas Neue";
}

