.root {
	-fx-background-color: #DDDDDD;
	
}

.rootCorrect {
	-fx-background-color: #DCEDC8;
}

.rootWrong {
	-fx-background-color: #ffcdd2;
}

.nextQuestion {
	-fx-background-color: #BBDEFB;
	-fx-background-radius: 8px;
}

.score {
	-fx-background-color: #757575;
	-fx-background-radius: 8px;
}

.topPane{
	-fx-background-color: #2196F3;
}

.gamePane {
	-fx-background-color: #FFFFFF;
	-fx-background-radius: 8px;
}

