.root {
	-fx-background-color: #DDDDDD;
	
	
}

.cardPane {
	-fx-background-color: white;
	-fx-background-radius: 8px;
	
}

.topPane{
	-fx-background-color: #2196F3;
}

.bebasneue {
	-fx-font-family: "Bebas Neue";
}

.button {
	-fx-background-color: #E0E0E0;
	-fx-font-size: 14px;
	-fx-font-family: "Bebas Neue";
	
}

.button:hover {
	-fx-background-color: #BDBDBD;
	-fx-font-size: 14px;
	-fx-font-family: "Bebas Neue";
}